<app-painel>
    <div class="painel">
        <p> Geração de Ordem de serviço</p>
        <div class="heard-container">
            <form [formGroup]="manutencaoForm" (ngSubmit)="onManutencao()">
                <mat-list>
                    <mat-list-item>
                        <mat-form-field class="ordemexterna-field" appearance="outline">
                            <mat-label>Ordem Externa</mat-label>
                            <input matInput formControlName="ordemexterna" aria-label="Ordem Externa" />
                        </mat-form-field>
                        <span> ‎ </span>
                        <mat-form-field class="placa-field" appearance="outline">
                            <mat-label>Placa</mat-label>
                            <input matInput formControlName="placa" aria-label="placa" />
                        </mat-form-field>
                        <span> ‎ </span>
                        <mat-form-field class="motivo-field" appearance="outline">
                            <mat-label>Item</mat-label>
                            <mat-select formControlName="codmotivo">
                            @for (item of dataMotivo; track item) {
                            <mat-option [value]="item.codigomot">{{item.motivo}}</mat-option>
                            }
                            </mat-select>
                        </mat-form-field>
                        <span> ‎ </span>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Data</mat-label>
                            <input matInput [matDatepicker]="picker" 
                                            (input)="formatDate($event,'data')" 
                                            placeholder="DD/MM/AAAA" 
                                            formControlName="data">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <span> ‎ ‎ </span>
                        <button class="btn-speciel" type="submit" [disabled]="manutencaoForm.invalid">
                            Importar Dados
                        </button>
                    </mat-list-item>
                </mat-list>
            </form>
        </div>
        <div class = "leitor-container">
            <h2>Leitor de Imagem com Serviço OCR</h2>
            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <select matNativeControl [(ngModel)]="tipo" aria-label="Tipo" >
                    <option value="" selected></option>
                    <option value="produto">Produto</option>
                    <option value="servico">Serviço</option>
                </select>
            </mat-form-field>
            <span> ‎ </span>
            <mat-checkbox [(ngModel)]="stainfo">Imagem com informação</mat-checkbox>
            <span> ‎ </span>
            <label for="fileUpload"> Selecione: </label>
            <input type="file" id="fileUpload" accept="image/png, image/jpeg, image/jpg, image/webp" (change)="onFileSelected($event)"
                [disabled]="carregando()" />

            @if (carregando()) {
            <div class="loading">
                <strong>Status:</strong> Processando imagem, por favor aguarde...
            </div>
            }
            <div class="vision">

                @if (imagemPreview()) {
                <div>
                    <h4>Imagem selecionada:</h4>
                    <img class="image" [src]="imagemPreview()" alt="Preview" />
                </div>
                }

                @if (textoExtraido()) {
                <div class="divresult">
                    <h3>Texto Identificado pelo Serviço:</h3>
                    <pre class="result">
                      {{ textoExtraido() }}
                    </pre>
                </div>
                }
            </div>
        </div>
        <div class="heard-container">
            <form [formGroup]="form" (ngSubmit)="onItem()">
                <mat-list>
                    <mat-list-item>
                        <mat-form-field class="tipo-field" appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <select matNativeControl formControlName="tipo" aria-label="Tipo" >
                                <option value="produto">Produto</option>
                                <option value="servico">Serviço</option>
                            </select>
                        </mat-form-field>
        
                        <mat-form-field class="item-field" appearance="outline">
                            <mat-label>Item</mat-label>
                            <input matInput formControlName="item" aria-label="Item" />
                        </mat-form-field>
            
                        <mat-form-field class="informacao-field" appearance="outline">
                            <mat-label>Informação</mat-label>
                            <input matInput formControlName="informacao" aria-label="Informação" />
                        </mat-form-field>
       
                        <mat-form-field class="valor-field" appearance="outline">
                            <mat-label>Valor</mat-label>
                            <input matInput formControlName="valor" aria-label="Valor" />
                        </mat-form-field>
                        <span> ‎ ‎ </span>
                        <button class="btn-speciel" type="button" (click)="onAlter()" [disabled]="form.invalid">
                            Alterar
                        </button>
                        <span> ‎ </span>
                        <button class="btn-speciel" type="button" (click)="onDelete()">
                            Excluir
                        </button>
                        <span> ‎ </span>
                        <button class="btn-speciel" type="submit" [disabled]="form.invalid">
                            Adicionar
                        </button>                    
                    </mat-list-item>
                </mat-list>
            </form>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id" class="mat-column-id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo" class="mat-column-tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.tipo }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="item" class="mat-column-item">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.item }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="informacao" class="mat-column-informacao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Informação </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.informacao }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="valor" class="mat-column-valor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.valor }} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selecionarRegistro(row)"
                    [class.selected]="row === registroSelecionado">
                </mat-row>

            </table>
        </div>
    </div>
</app-painel>