// Variáveis para cores e dimensões
$primary-color: #1e73be; // azul de fundo
$button-color: #1e73be;
$button-hover: darken($button-color, 10%);
$box-bg: #fff;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

// Cores principais
$tfleet-color:  #2196f3 ;  // Azul
$alelo-color:  #bdd753 ;   // Verde
$vale-color: #28a745;   // Verde Escuro
$default-color: #2196f3  ;