@use "../../../styles/variables.scss" as var;

.painel {
  padding: 5px;
}

.section1 {
  width: 100%;
  margin: 0px;
  padding: 5px;
}

.section2 {
    width: 100%;
    min-height:410px;
    margin: 0px;
    padding: 5px;
    background: white;
}

.spacer {
  flex: 1;
}

.selected {
  background-color: var.$default-color;
  font-weight: bold;
  color: white;
}

.btn-speciel {
  width: 20%;
  border-radius: 8px;  
  font-size: 14px;
  background: transparent;
  padding-bottom: 10px;
  height: 50px;
  background-color: var.$default-color; 
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-speciel:disabled {
  width: 20%;
  border-radius: 8px;  
  font-size: 14px;
  background: transparent;
  padding-bottom: 10px;
  height: 50px;
  background-color: #b0bec5;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.8;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.motivo-field{
  width: 100%;
}

.servico-field{
  width: 100%;
}

.realizados-field{
  width: 100%;
}

::ng-deep .mat-datepicker-content {
  background-color: #fff !important; /* fundo branco */
}

::ng-deep .mat-calendar {
  background-color: #fff !important; /* corpo do calendário */
}

::ng-deep .cdk-overlay-pane {
  background-color: #fff !important;
}
