@use  "../../../styles/variables.scss" as var;

mat-toolbar {
    padding-left: 0%;
    gap: 20px;
    height: 10%;
}

.tfleet {
    background-color: var.$tfleet-color;
}

.csn {
    background-color: var.$csn-color;
}

.vale {
    background-color: var.$vale-color;
}

.alelo {
    background-color: var.$alelo-color;
}

.petropolis {
    background-color: var.$petropolis-color;
}

.tfleetLogo {
    width: 13%;
    height: 100%;
    background-image: url("../../../assets/img/auto_logo_branca.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.csnLogo {
    width: 13%;
    height: 100%;
    background-image: url("../../../assets/img/auto_logo_branca.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}
.valeLogo {
    width: 13%;
    height: 100%;
    background-image: url("../../../assets/img/auto_logo_branca.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}
.petropolisLogo {
    width: 13%;
    height: 100%;
    background-image: url("../../../assets/img/auto_logo_branca.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}
.aleloLogo {
    width: 13%;
    height: 100%;
    background-image: url("../../../assets/img/logo-alelo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}


mat-icon {
  color: white;
}

.logo {
  color:white;
  height: 100%;
  width: 22.8%;
}

img{
  width: 80%;
  height: 100%;
  align-content: center;
  
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}


.title {
    color: white;    
}  
.spacer {
  flex: 1;
}
