<mat-toolbar [ngClass]="class">
  <div [ngClass]="class + 'Logo'"> </div>
  <button mat-button *ngIf="mobile" (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title"> Olá, {{ primeiroNome }}! </span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="apps">
    <mat-icon>apps</mat-icon>
  </button>

  <mat-menu #apps="matMenu">
    <button mat-menu-item (click)="toIC()">
      <mat-icon [ngClass]="class + 'Icon'">table_chart</mat-icon>
      Intelligence Center
    </button>

    <button mat-menu-item (click)="toSC()">
      <mat-icon [ngClass]="class + 'Icon'">headset_mic</mat-icon>
      Service Center
    </button>

    <button mat-menu-item (click)="toWeb()">
      <mat-icon [ngClass]="class + 'Icon'">public</mat-icon>
      Tfleet Web
    </button>
  </mat-menu>

  <button mat-icon-button (click)="logOff()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>