<mat-sidenav-container class="sidebar-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
      
      <mat-list-option>
        <button mat-button (click)="digitalizar()">
          <mat-icon class="icon-house">house</mat-icon>
          <span>Digitalização</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/home' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-house">house</mat-icon>
          <span>Home</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/servicos' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-services">construction</mat-icon>
          <span>Serviços</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/frota' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-fleet">directions_car</mat-icon>
          <span>Frota</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/infracoes' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-traffic">traffic</mat-icon>
          <span>Infrações</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/custo' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-cost">monetization_on</mat-icon>
          <span>Custo Geral</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/telemetria' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-telemetry">place</mat-icon>
          <span>Telemetria</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/locacoes' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-rental">car_rental</mat-icon>
          <span>Locações</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/abastecimento' ]" *ngIf="class === 'inativo'">
        <button mat-button>
          <mat-icon class="icon-fuel">local_gas_station</mat-icon>
          <span>Abastecimentos</span>
        </button>
      </mat-list-option>

      <mat-list-option [routerLink]="[ '/painel/rapido' ]" *ngIf="class !== 'tfleet'">
        <button mat-button>
          <mat-icon class="icon-report">table_chart</mat-icon>
          <span>Relatório</span>
        </button>
      </mat-list-option>

    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
